/* Utility Classes */
.w-full {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-sm {
    font-size: 0.85rem;
}

.flex {
    display: flex;
}

.hidden {
    display: none !important;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}