@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css');

:root {
  --primaryColor: hsl(353, 86%, 54%);
  --font-poppins: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background: hsl(0, 0%, 10%);
}

.videoary {
  font-family: var(--font-poppins);
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    z-index: 1;
    transition: 0.5s all ease;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

    &:is(.invisible) {
      opacity: 0;
      z-index: -1;
    }
  }

  ul {
    list-style: none;
  }

  button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;

    & > svg {
      fill: white;
      width: 36px;
    }
  }

  &:is(.theater-mode) {
    max-width: 100%;
  }

  &:is(.seeking):before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  & > video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  & > .captions-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.35rem;
    padding: 0 0.2em;
    opacity: 0;
    text-align: center;
    transition: 0.3s all ease;
    cursor: default;
    pointer-events: none;
    border-radius: 3px;

    &:is(.active) {
      opacity: 1;
    }

    &:is(.get-down) {
      bottom: 20px;
    }
  }

  &__bottom-panel {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8em;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    transition: 0.5s all ease;

    .duration-wrapper {
      position: relative;
      overflow: hidden;
    }

    &:is(.showed-up) {
      opacity: 1;
      pointer-events: all;
    }

    &__actions {
      display: flex;
      align-items: center;
      color: white;
      list-style: none;
      padding: 0 1em;

      & > li > button:hover ~ .tooltip:is([aria-disabled="false"]) {
        display: block;
      }

      .tooltip {
        left: 50%;
        transform: translateX(-50%);
      }

      &:nth-child(1) {
        li:first-child > .tooltip {
          transform: translateX(0);
          left: -16px;
          right: unset;
        }
      }

      &:nth-child(2) {
        li:last-child > .tooltip {
          transform: translateX(0);
          left: unset;
          right: -16px;
        }
      }

      &:nth-child(1) {
        & > li {
          &:not(:nth-child(3), :last-child) {
            margin-right: 0.6em;
          }
        }
      }

      &:nth-child(2) {
        & > li {
          &:not(:last-child) {
            margin-right: 0.6em;
          }
        }
      }

      & > li {
        position: relative;

        & > button {
          font-size: 1.3rem;
        }

        &:last-child > p {
          font-size: 0.8rem;
        }

        &:nth-child(3) {
          display: flex;
          align-items: center;

          &:hover > button ~ input {
            opacity: 1;
            width: 60px;
            margin-right: 10px;
          }
        }
      }
    }

    input[name="volume"] {
      width: 0;
      opacity: 0;
      margin-left: 0.9em;
      transition: 0.3s all ease !important;
      cursor: pointer;

      &:is(.active, :hover) {
        opacity: 1;
        width: 60px;
        margin-right: 10px;
      }
    }
  }

  input[type="range"] {
    color: var(--primaryColor);
    --thumb-height: 1em;
    --track-height: 0.26em;
    --track-color: hsla(0, 0%, 80%, 0.5);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;

    position: relative;
    background: #fff0;
    overflow: hidden;

    &:is(#duration) {
      width: 100%;
      cursor: pointer;
    }

    &:active {
      cursor: pointer;
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.3;
      cursor: not-allowed;
    }

    &,
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: var(--thumb-height);
      position: relative;
    }

    &:is(#duration):hover {
      --clip-edges: 0.125em;
      &::-webkit-slider-thumb {
        --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
        --clip-further: calc(100% + 1px);
        width: var(--thumb-width, var(--thumb-height));
        clip-path: polygon(100% -1px,
        var(--clip-edges) -1px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 100%,
        var(--clip-further) var(--clip-further));
      }

      &::-moz-range-thumb {
        width: var(--thumb-width, var(--thumb-height));
      }
    }

    &:is(#duration) {
      --clip-edges: 0;
      &::-webkit-slider-thumb {
        --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 105vmax currentColor;
        --clip-further: 0;

        width: 0;
        clip-path: polygon(0% 0px,
        var(--clip-edges) 0px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 0%,
        var(--clip-further) var(--clip-further));
      }

      &::-moz-range-thumb {
        width: 0;
      }
    }

    &::-webkit-slider-thumb {
      --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
      --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
      --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
      --clip-further: calc(100% + 1px);
      --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100.028vmax currentColor;

      width: var(--thumb-width, var(--thumb-height));
      background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
      background-color: currentColor;
      box-shadow: var(--box-fill);
      border-radius: var(--thumb-width, var(--thumb-height));

      filter: brightness(100%);
      clip-path: polygon(100% -1px,
          var(--clip-edges) -1px,
          0 var(--clip-top),
          -100vmax var(--clip-top),
          -100vmax var(--clip-bottom),
          0 var(--clip-bottom),
          var(--clip-edges) 100%,
          var(--clip-further) var(--clip-further));
    }

    &:hover::-webkit-slider-thumb {
      filter: brightness(var(--brightness-hover));
      cursor: pointer;
    }

    &:active::-webkit-slider-thumb {
      filter: brightness(var(--brightness-down));
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
    }

    &:disabled::-webkit-slider-thumb {
      cursor: not-allowed;
    }

    &,
    &::-moz-range-track,
    &::-moz-range-thumb {
      appearance: none;
      height: var(--thumb-height);
    }

    &::-moz-range-track,
    &::-moz-range-thumb,
    &::-moz-range-progress {
      background: #fff0;
    }

    &::-moz-range-thumb {
      background: currentColor;
      border: 0;
      width: var(--thumb-width, var(--thumb-height));
      border-radius: var(--thumb-width, var(--thumb-height));
      cursor: pointer;
    }

    &:active::-moz-range-thumb {
      cursor: pointer;
    }

    &::-moz-range-track {
      width: 100%;
      background: var(--track-color);
    }

    &::-moz-range-progress {
      appearance: none;
      background: currentColor;
      transition-delay: 30ms;
    }

    &::-moz-range-track,
    &::-moz-range-progress {
      height: calc(var(--track-height) + 1px);
      border-radius: var(--track-height);
    }

    &::-moz-range-thumb,
    &::-moz-range-progress {
      filter: brightness(100%);
    }

    &:hover::-moz-range-thumb,
    &:hover::-moz-range-progress {
      filter: brightness(var(--brightness-hover));
    }

    &:active::-moz-range-thumb,
    &:active::-moz-range-progress {
      filter: brightness(var(--brightness-down));
    }

    &:disabled::-moz-range-thumb {
      cursor: not-allowed;
    }
  }

  .actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tooltip {
      position: absolute;
      top: -60px;
      border-radius: 5px;
      background-color: hsla(0, 0%, 30%, 0.7);
      padding: 3px 10px;
      white-space: nowrap;
      display: none;
      font-size: 0.8rem;
    }
  }

  & > .toast {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 0.8rem;
    transition: 0.3s all ease;

    &:is(.active) {
      top: 20px;
      opacity: 1;
    }
  }

  & > .poster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    pointer-events: none;

    &:is(.hide) {
      display: none;
    }
  }

  .settings-menu {
    position: absolute;
    min-width: 250px;
    bottom: 75px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all ease;
    right: 10px;
    padding: 0.5em 0;

    li > button {
      &:not(.action) {
        padding: 0.8em 1em;

        &:hover {
          background: rgba(97, 97, 97, 0.5);
        }
      }
    }

    &:is(.active) {
      opacity: 1;
      pointer-events: all;
    }

    &:is(.hide) > li {
      display: none;
    }

    &-panel {
      &:not(.show) {
        display: none;
      }

      & > li:nth-child(1) {
        color: white;
        padding: 0.2em 0.8em 0.8em;
        border-bottom: 1px solid rgb(245, 245, 245, 0.3);
      }
    }
  }

  .ambient-background {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .5;
    filter: blur(65px);
    border-radius: 12px;
    left: 50%;
    top: 50%;
    transform: scale(1.05) translate(-50%, -50%);
    height: 100%;
    pointer-events: none;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 200ms all ease;
    pointer-events: none;

    &:is(.show) {
      opacity: 1;
    }
  }

  .buffered-progress {
    background-color: hsl(0, 0%, 75%);
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    height: 0.26em;
    width: 0;
  }

  :where(.actions-wrapper-mobile, #duration-indicator-mobile) {
    display: none;
  }

  button:is(.settings-btn-mobile, .fullscreen-btn-mobile, .volume-btn-mobile, .captions-btn-mobile) {
    display: none;
    font-size: 1.1rem;
  }

  .settings-panel-mobile {
    display: none;
  }

  @import './partials/utils';
  @import './partials/queries';
}